@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* 通用設定 */
* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: hsl(0, 0%, 0%);
    background-repeat: no-repeat;
}

.wrap-header{
    width: 100%;
    background-color: #C451BE;
    position: sticky;
    top: 0;
    z-index: 999;
}

.wrap-content{
    margin: 0 auto;
}

/* Photo 首頁圖設定 */

.photo{
    width: 100%; height: 426px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* header 頁首設定 */

header{
    width: 1280px;
    padding: 6px 0;
    display: flex;
    margin: 0 auto;
}

header .menu {
    margin-right: 18px;
    margin-left: auto;
    cursor: pointer;
}

header .logo{
    background-image: url(image/logo.svg);
    background-repeat: no-repeat;
    margin-right: auto;
    margin-top: 3px;
}

header .logo a{
    display: block;
    width: 330px; height: 45px;
    text-indent: -9999px;
    overflow: hidden;

}

header ul {
    margin: 0; padding: 15px ;
    list-style: none;
    display: flex;
    gap: 48px;
}

header ul a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: auto 48px;
}

header ul a:hover {
    color: #761f72;
}

header .search-group {
    align-content: center;
    position: relative;
    top: 3px;
    margin: 0 auto;
}

header .search-icon {
    position: relative;
    bottom: 3px;
    right: 35px;
    cursor: pointer;
}


/* text 主視覺設定 */

text {
    text-align: center;
    width: 836px; height: 160px;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 80px;
    z-index: 10;
    flex-wrap: wrap;
    margin: 0 auto;
}


text h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
}

text h4 {
    font-size: 28px;
    font-weight: 750;

}

/* BG 底圖設定 */

.bg {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    z-index: 9;
    margin: 0 auto;
}


/* Time 時間設定 */

.time {
    width: 836px; height: 160px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.time h1{
    color: #000;
    text-align: center;
    font-size: 75px;
    width: 93px; height: 128px;
    background-color: #fff;
    border-radius: 80px;
    padding-top: 10px;
}

.time h4 {
    color: #ffffff;

}

/* Remind 小字提醒設定 */

.remind {
    width: 400px; height: 54px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    position: relative;
    z-index: 10;
}

.remind h4 {
    font-size: 18px;
    font-weight: 550;
    line-height: 30px;
}

/* Protfolio 作品集設定 */

.protfolio {
    width: 100%; height: 700px;
    display: flex;
    align-content: center;
    position: relative;
    z-index: 10;
    margin: 10px auto;
}

/* Protfolio-image 作品集圖片 */

.protfolio-image {
    width: 700px; height: 580px;
    background-image: url(/image/Ellipse\ 1.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 280px;
}

.prot-text {
    width: 232px; height: 150px;
    position: relative;
    left: 250px;
    top: 370px;
    z-index: 11;
}

.protfolio-img1{
    width: 680px; height: 382px;
    position: relative;
    bottom: 120px;
    left: 30px;
}

.protfolio-img2{
    width: 600px; height: 410px;
    position: relative;
    bottom: 400px;
    left: -150px;
}


/* Protfolio-text 作品集文字 */

.protfolio-text {
    width: 346px; height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    top: 200px;
    left: 300px;
}

.sales-button {
    width: 76px; height: 34px;
    padding: 0;
    color: #FF6EF8;
    font-size: 16px;
    font-weight: 500;
    border-width: 1px;
    border-color: #FF6EF8;
    border-style: solid;
    background-color: #000000;
}

.protfolio-text h2 {
    color: #FF6EF8;
    font-size: 48px;
    margin: 15px 0 0 0;
}

.protfolio-text p {
    color: #FF6EF8;
    font-size: 16px;
    line-height: 165%;
    font-weight: 500;
    margin: 15px 0;
}

.buy-button {
    width: 346px; height: 46px;
    border: none;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: #FF6EF8;
    border-radius: 10px;
    cursor: pointer;
}

.buy-button:hover {
    color: #FF6EF8;
    background-color: #fff;
}


/* Protfolio-page 作品集縮圖 */

.protfolio-page {
    width: 368px; height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11;
    bottom: 100px;
    left: 400px;
}

.left {
    width: 20px; height: 30px;
    cursor: pointer;
}

.right {
    width: 20px; height: 30px;
    cursor: pointer;
}

.protfolio-page img {
    cursor: pointer;
}

.protfolio-page img:hover {
    filter: opacity(60%);
}

.protfolio-page button:hover {
    filter: opacity(60%);
    
}




/* INFO 底部資訊設定 */

.info {
    width: 1031px; height: 174px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 100px auto;
    
}

.info-content {
    display: flex;
    gap: 48px;
}

/* info-content h4 資訊標題 */

.info-content h4 {
    font-size: 16px;
}

.info-content h4 a {
    color: #FF6EF8;
    font-size: 14px;
    font-weight: 600;
}

.info-content h4 a:hover {
    color: white;
}

/* info-content h5 資訊文字 */

.info-icon {
    width: 22px; height: 88px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 25px;
}

.contact-us h5 {
    position: relative;
    left: 30px; bottom: 115px;
}


.info-content h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
}


/* social-media 聯絡圖示 */

.social-media {
    width: 47px; height: 177px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}

.social-media img:hover {
    filter: brightness(300%);
}


/* Footer 頁尾設定 */

footer {
    width: 100%;
    font-size: 12px;
    text-align: center;
    filter: opacity(50%);
    margin: 15px auto;
}